body {
    display: flex;
    row-gap: 10px;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #252525;
    color: white;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 0;
}

#response {
    display: none;
    text-align: left;
    max-width: fit-content;
    border: 2px dotted rgb(255, 255, 255);

    padding: 1em;
}

table {
    text-align: left;

}

td {
    vertical-align: top;
    padding: 0.5em;
}

tr {
    transition: .5s;
}

table,
th,
td {
    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;
    border-radius: 4px;
}

tr.selectedScope {
    background-color: #90ee9036;
    transition: .5s;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .5s;
    transition: .5s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.buttonLink>a:link,
.buttonLink>a:visited {
    background-color: #0037ff89;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.buttonLink>a:hover,
.buttonLink>a:active {
    background-color: rgb(0, 94, 255);
}

.buttonLinkContainer {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    align-items: center;
}

a,
a:visited {
    text-decoration: none;
    color: cyan;
}

.toggleCell {
    vertical-align: inherit;
}

#btnToTop {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: rgb(195, 205, 0);
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
}

#btnToTop:hover {
    background-color: #555;
    /* Add a dark-grey background on hover */
}